* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #F2F2F2;
}

a {
    text-decoration: none;
    color: black;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #D9D9D9;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin-inline: auto;
}

.border-white {
    border-color: white;
    border-bottom-color: transparent;
}

.mt-100 {
    margin-top: 100px;
}

.mb-100 {
    margin-bottom: 100px;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@keyframes progress {
    0% {
        transform: translate3d(-100%, 0, 0);
    }

    100% {
        transform: translate3d(100%, 0, 0);
    }
}

@keyframes pulse {
    50% {
        opacity: .5;
    }
}

.animate-pulse {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    height: 2.375rem;
    width: 5rem;
    border-radius: .125rem;
    background-color: darkgray;
}

header {
    background: white;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 1.125rem;
}

header li {
    position: relative;
}

header ul li:hover::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: #060101;
    display: block;
    cursor: pointer;
    position: absolute;
    animation: slideIn 0.3s ease-in-out forwards;

}

@keyframes slideIn {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

.search-section {
    background: white;
    margin-top: .5rem;
    height: 144px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container {
    position: relative;
}

.search-section input {
    width: 776px;
    height: 75px;
    padding-inline: 1rem;
    font-size: 1.625rem;
    border-radius: .5rem;
}

.search-section input::placeholder {
    font-size: 1.625rem;
}

.search-section svg {
    font-size: 1.625rem;
    color: #8D8D8D;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
}

h1.title {
    font-size: 3rem;
    margin-block: 1rem 2rem;
    text-transform: capitalize;
}

.job-card {
    background: white;
    padding: 3rem 2.75rem;
    width: 49%;
}

.job-card h2 {
    font-size: 1.5rem;
}

.job-card p,
.job-card a {
    font-size: 1.125rem;
}

.job-card>p {
    margin: 1rem 0 .5rem;
}

.skills {
    display: flex;
    column-gap: .25rem;
    row-gap: .5rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.skills p {
    padding: .5rem;
    background: #C4C4C4;
    border-radius: .25rem;
    text-align: center;
    width: fit-content;
    text-wrap: nowrap;
}

.jobs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.jobs-container .job-link {
    border-bottom: 1px solid black;
}

.description {
    margin-bottom: 1rem;
}

.related-skills,
.related-jobs {
    background: white;
    padding: 2rem 1rem 2rem 2rem;
    margin-bottom: 2rem;
    width: 66.666666666666%;
}

.related-skills .subtitle,
.related-jobs .subtitle {
    margin-bottom: 1rem;
}

.related-skills .content,
.related-jobs .content {
    display: flex;
    flex-direction: column;
    gap: 1rem
}

.related {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.skill-card,
.skill-related-job-card {
    background: #F0F0F0;
    padding: 1.5rem;
}

.skill-card h2 {
    text-decoration: underline;
}

.skill-card .skill-attr {
    display: flex;
}

.skill-card .skill-attr div {
    display: flex;
    gap: .125rem;
    margin-top: 4rem;
    width: 30%
}

.skill-card .skill-attr div p {
    font-size: 1.125rem;
}

.skill-card .skill-attr div p:first-of-type {
    font-weight: bold;
}

.skill-related-jobs {
    background: #D9D9D9;
    padding: 2rem;
    width: 33.3333333%;
    height: fit-content;
}

.skill-related-jobs .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}

.skill-related-jobs li {
    text-decoration: underline;
}

.related-jobs .subtitle {
    margin-top: 1rem;
}

.error-page p {
    margin-block: 2rem;
    text-align: center;
}

.button {
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button:hover,
.button:focus {
    background-color: #F082AC;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.no-result {
    text-align: center;
    margin-top: 2rem;
}

.suggestions {
    position: absolute;
    left: 0;
    background: white;
    width: 100%;
    z-index: 10;
    padding: 2rem;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    font-size: 1.25rem;
    list-style: none;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
}

.suggestions li {
    cursor: pointer;
    padding: 1rem;
    transition: all .2s ease-in-out;
}

.suggestions li:hover {
    background-color: #C4C4C4;
    color: white;
}

.suggestions li:not(:last-child) {
    border-bottom: 1px solid #C4C4C4;
}